

:root {
    --color-bg-main: rgb(241, 241, 241);
    --color-accent-main : rgba(255, 86, 35, 0.925);
    --color-text-main: black;
    --color-text-dim: rgba(0, 0, 0, 0.4);
    --color-text-accent: white;
    --color-shadow: rgba(0, 0, 0, 0.233);
    --color-shadow-light: rgba(0, 0, 0, 0.1);

}

html, body {
    margin: 0;
    background: rgb(241, 241, 241);
}


main > section, .header-container {
    max-width: 1200px;
    width: 100%;
}

main > section * {
    background: white;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 2px;
}


::-webkit-scrollbar-thumb {
    background: var(--color-accent-main);
    border-radius: 2px;
}