

:root {
    --color-bg-main: rgb(241, 241, 241);
    --color-accent-main : rgba(255, 86, 35, 0.925);
    --color-text-main: black;
    --color-text-dim: rgba(0, 0, 0, 0.4);
    --color-text-accent: white;
    --color-shadow: rgba(0, 0, 0, 0.233);
    --color-shadow-light: rgba(0, 0, 0, 0.1);
    --chat-background: linear-gradient(-180deg, red, 10%, blue);

}

html, body {
    margin: 0;
    background: rgb(241, 241, 241);
    font-family: 'Roboto';
}


main > section, .header-container {
    max-width: 1200px;
    width: 100%;
}

main > section * {
    background: white;
}

::-webkit-scrollbar {
    background: var(--color-shadow-light);
    width: 5px;
    height: 5px;
    border-radius: 2px;
}


::-webkit-scrollbar-thumb {
    background: var(--color-shadow);
    border-radius: 2px;
}

@media screen and (max-width: 600px) {
    ::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
        display: none;
    }
}

