main {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: 1rem 1rem;
    gap: 1.5rem;
}

/* SECTION 1 - NEWS */

#section-news {
    display: grid;
    grid-template-areas: 
    "news promo1"
    "news promo2"
    "promo-links promo-links";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 120px 120px 100px;
    place-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

#section-news > * {
    background: linear-gradient(180deg, red, var(--color-accent-main));
    display: flex;
    place-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    color: var(--color-text-accent);
    border-radius: 2px;
}

.img-slider-container.news-image-slider {
    grid-area: news;
}

#promo-1 {
    grid-area: promo1;
}

#promo-2 {
    grid-area: promo2;
}

#promo-links {
    grid-area: promo-links;
    background: white;
    color: var(--color-text-main);
    box-shadow: 1px 1px var(--color-shadow);
    place-items: center;
    justify-content: space-around;
}

#promo-links a {
    display: flex;
    flex-direction: column;
    gap: 3px;
    place-items: center;
    width: 90px;
    height: 80%;
    font-size: small;
    text-decoration: none;
    color: var(--color-text-main);
    word-wrap: break-word;
    text-align: center;
    transition: transform 0.3s;
}

#promo-links a:hover {
    transform: translateY(-3px);
    will-change: transform;
}

#promo-links a img {
    height: 50px;
}


/* SECTION 2 - CATEGORY */

#section-categories {
    position: relative;
    background: white;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px var(--color-shadow);
    border-radius: 2px;
    height: 320px;
}

#section-categories h3 {
    padding: 10px;
    line-height: 20px;
    margin: 0;
}

#category-list {
    position: relative;
    display: flex;
    overflow-x: auto;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
}



#category-list a {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    height: 50%;
    width: 7rem;
    border: 0.4px solid rgba(0, 0, 0, 0.075);
    border-style: solid groove groove none;
    font-size: small;
    word-wrap: break-word;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

#category-list a:hover {
    box-shadow: 0.3px 0.3px var(--color-shadow);
}

#category-list a:hover img {
    height: 70%;
}

#category-list a img {
    height: 60%;
    transition: 0.3s;
}

#section-categories>button {
    position: absolute;
    top: calc(50% + 20px);
    z-index: 1;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: white;
    border: 0.1px solid rgba(0, 0, 0, 0.096);
    font-weight: 100;
    font-stretch: ultra-condensed;
    transition: ease-out 0.2s;
}


.btn-left {
    left: 0;
    transform: translate(-30%, -50%);
}

.btn-right {
    left: 100%;
    transform: translate(-70%, -50%);
}

.btn-left:hover {
    transform: scale(1.4) translate(-30%, -40%);
    cursor: pointer;
}

.btn-right:hover {
    transform: scale(1.4) translate(-50%, -40%);
    cursor: pointer;
}

#section-categories:hover .btn-left {
    transform: scale(1.4) translate(-30%, -40%);
}

#section-categories:hover .btn-right {
    transform: scale(1.4) translate(-50%, -40%)
}

button .hidden {
    display: none;
}



/* SECTION- MALL */

#section-mall {
    height: 500px;
    display: grid;
    grid-template-areas: 
    "header text text"
    "image image products";
    grid-template-columns: auto 1fr 3fr;
    grid-template-rows: auto 420px;
    text-align: center;
    box-shadow: 0.5px 1px 0.2px var(--color-shadow);
}

#section-mall > * {
    height: 100%;
    margin: 0;
}

#section-mall h3 {
    grid-area: header;
    padding: 0.5rem 1rem;
    font-size: x-large;
    height: auto;
}

#section-mall > span {
    grid-area: text;
    text-align: center;
    font-size: small;
    padding: 0.5rem 1rem;
}

#section-mall .img-slider-container {
    grid-area: image;
}

#section-mall > #mall-products {
    box-sizing: border-box;
    grid-area: products;
    border-left: 0.1px solid rgba(0, 0, 0, 0.096);
}

/* SECTION-RECOMENDATIONS */

#section-recomendations {
    width: 100%;
}

#section-recomendations h4 {
    margin: 0.2rem 0;
    padding: 0.5rem 2rem;
    box-shadow: 0.5px 1px 0.2px var(--color-shadow)
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, 180px);
    grid-auto-rows: 240px;
    justify-content: space-between;
    background: none;
    gap: 1.6rem 0.4rem;
    width: 100%;
}

.product {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 2px 2px 0 0;
    box-shadow: 0.2px 0.5px 0.1px 0.2px var(--color-shadow-light);
    transition: transform 0.2s;
}

.product:hover {
    border: 1px solid var(--color-accent-main);
    cursor: pointer;
    transform: translateY(-1px);
}

.product:hover .product-accent {
    display: block;
}

.product>img {
    width: 100%;
    height: 60%;
}

.product>p, .product>small {
    padding-left: 0.5rem;
    font-size: medium;
}

.product-accent {
    z-index: 2;
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    background: var(--color-accent-main);
    color: var(--color-text-accent);
    width: calc(100% + 2px);
    text-align: center;
    border-radius: 0 0 2px 2px;
    font-size: medium;
    padding: 3px 0;
}

.price {
    color: var(--color-accent-main);
}

.seller-status {
    position: absolute;
    left: -3px;
    top: 10%;
    padding: 1px 2px;
    border-radius: 1px;
    font-size: small;
    color: var(--color-text-accent);
    font-weight: bold;
    background: var(--color-accent-main);
}



@media screen and (max-width: 900px) {
    main {
        margin: 0;
    }

    #section-news {
        grid-template-areas: 
        "news"
        "promo-links";
        grid-template-columns: 100%;
        grid-template-rows: 240px auto;
    }

    .slider-img  {
        background: var(--color-accent-main);
    }

    #promo-1, #promo-2 {
        display: none;
    }

    #section-categories>button {
        display: none;
    }

    #category-list {
        overflow-x: auto;
    }
}