main {
    display: flex;
    justify-content: center;
    margin: 1rem 1rem;
}

#section-news {
    display: grid;
    height: 220px;
    width: 100%;
    max-width: 900px;
    grid-template-areas: 
    "news promo1"
    "news promo2"
    "promo-links promo-links";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    gap: 5px;
}

#section-news > * {
    background: linear-gradient(180deg, red, rgba(255, 86, 35, 0.925));
    display: flex;
    place-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    color: white;
    border-radius: 2px;
}

#news-image-slider {
    grid-area: news;
}

#promo-1 {
    grid-area: promo1;
}

#promo-2 {
    grid-area: promo2;
}

#promo-links {
    grid-area: promo-links;
    background: white;
    color: black;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.233);
    place-items: center;
    justify-content: space-around;
}

#promo-links a {
    display: flex;
    flex-direction: column;
    gap: 3px;
    place-items: center;
    width: 50px;
    height: 80%;
    font-size: xx-small;
    text-decoration: none;
    color: black;
    word-wrap: break-word;
    text-align: center;
    transition: transform 0.3s;
}

#promo-links a:hover {
    transform: translateY(-3px);
    will-change: transform;
}

#promo-links a img {
    width: 70%;
}