main {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: 1rem 1rem;
    gap: 1.5rem;
}

/* SECTION 1 - NEWS */

#section-news {
    display: grid;
    height: 220px;
    width: 100%;
    max-width: 900px;
    grid-template-areas: 
    "news promo1"
    "news promo2"
    "promo-links promo-links";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    gap: 5px;
}

#section-news > * {
    background: linear-gradient(180deg, red, var(--color-accent-main));
    display: flex;
    place-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    color: var(--color-text-accent);
    border-radius: 2px;
}

#news-image-slider {
    grid-area: news;
}

#promo-1 {
    grid-area: promo1;
}

#promo-2 {
    grid-area: promo2;
}

#promo-links {
    grid-area: promo-links;
    background: white;
    color: var(--color-text-main);
    box-shadow: 1px 1px var(--color-shadow);
    place-items: center;
    justify-content: space-around;
}

#promo-links a {
    display: flex;
    flex-direction: column;
    gap: 3px;
    place-items: center;
    width: 50px;
    height: 80%;
    font-size: xx-small;
    text-decoration: none;
    color: var(--color-text-main);
    word-wrap: break-word;
    text-align: center;
    transition: transform 0.3s;
}

#promo-links a:hover {
    transform: translateY(-3px);
    will-change: transform;
}

#promo-links a img {
    width: 70%;
}


/* SECTION 2 - CATEGORY */

#section-categories {
    position: relative;
    background: white;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px var(--color-shadow);
    border-radius: 2px;
    height: 260px;
    width: 100%;
}

#section-categories h3 {
    padding: 10px;
    line-height: 20px;
    margin: 0;
}

#category-list {
    position: relative;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
}



#category-list a {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    height: calc(50% - 2px);
    width: 5rem;
    border: 1px solid var(--color-shadow);
    border-style: solid groove groove none;
    font-size: xx-small;
    word-wrap: break-word;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

#category-list a:hover {
    box-shadow: 0.3px 0.3px var(--color-shadow);
}

#category-list a:hover img {
    height: 70%;
}

#category-list a img {
    height: 60%;
    transition: 0.3s;
}

#section-categories>button {
    position: absolute;
    top: calc(50% + 20px);
    z-index: 1;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background: white;
    border: 0.1px solid rgba(0, 0, 0, 0.096);
    font-weight: 100;
    font-stretch: ultra-condensed;
    transition: ease-out 0.2s;
}


.btn-left {
    left: 0;
    transform: translate(-30%, -50%);
}

.btn-right {
    left: 100%;
    transform: translate(-70%, -50%);
}

.btn-left:hover {
    transform: scale(1.4) translate(-30%, -40%);
    cursor: pointer;
}

.btn-right:hover {
    transform: scale(1.4) translate(-50%, -40%);
    cursor: pointer;
}

#section-categories:hover .btn-left {
    transform: scale(1.4) translate(-30%, -40%);
}

#section-categories:hover .btn-right {
    transform: scale(1.4) translate(-50%, -40%)
}

button .hidden {
    display: none;
}



/* SECTION- MALL */

#section-mall {
    height: 400px;
    display: grid;
    grid-template-areas: 
    "header text text"
    "image image products";
    grid-template-columns: 150px 1fr 3fr;
    grid-template-rows: auto 300px;
    text-align: center;
}

#section-mall > * {
    width: 100%;
    height: 100%;
    margin: 0;
}

#section-mall h3 {
    grid-area: header;
}

#section-mall > span {
    grid-area: text;
    text-align: center;
    font-size: small;
}

#section-mall .img-slider-container {
    grid-area: image;
}

#section-mall > #mall-products {
    grid-area: products;
    border-left: 0.1px groove rgba(0, 0, 0, 0.096);
}

/* SECTION-RECOMENDATIONS */

#section-recomendations h4 {
    margin: 0.2rem 0;
    padding: 0.5rem 2rem;
    box-shadow: 1px 1px 1px solid black;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    background: none;
}

.product {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 200px;
}

.product>img {
    width: 100%;
    height: 50%;
}

.seller-status {
    position: absolute;
    left: -3px;
    top: 10%;
    height: 12px;
    padding: 1px 2px;
    border-radius: 1px;
    font-size: xx-small;
    color: var(--color-text-accent);
    font-weight: bold;
    background: var(--color-accent-main);
}