svg {
    width: 100%;
    height: 80%;
}

header a {
    color: white;
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-around;
    margin-top: 5rem;
    border-top: 2px solid var(--color-accent-main);
    background: rgb(243, 243, 243);
    color: var(--color-text-dim);
    font-size: small;
    padding: 5rem 1rem 3rem 1rem;
}

footer>p {
    text-align: justify;
    max-width: 1200px;
}

@media screen and (min-width: 901px) {
    header {
        height: 100px;
        z-index: 1;
        background: linear-gradient(180deg, rgba(192, 6, 0, 0.87), rgba(255, 111, 27, 0.925));
        display: flex;
        place-items: center;
        justify-content: center;
        padding: 0.5rem 1rem;
    }

    .header-container {
        height: 100%;
        display: grid;
        gap: 5px;
        grid-template-areas: 
        "header-contact header-contact header-user-profile header-user-profile"
        "logo search-bar search-bar cart"
        "logo latest-search latest-search cart";
        grid-template-columns: 1fr minmax(100px, 35vw) 1fr 1fr;
        grid-template-rows: 2fr 2fr 1fr;
        color: white;
        font-size: small;
        font-weight: 300;
    }
    
    #header-contact {
        grid-area: header-contact;
        display: flex;
        flex-wrap: wrap;
        gap: 0 10px;
    }
    
    #header-user-profile {
        grid-area: header-user-profile;
        display: flex;
        flex-wrap: wrap;
        gap: 0 1rem;
        justify-content: flex-end;
        font-size: medium;
    }
    
    #header-user-profile a:nth-child(n+3) {
        font-weight: 600;
    }
    
    #header-logo {
        grid-area: logo;
        display: flex;
        margin-right: 5px;
    }
    

    
    #header-latest-search {
        grid-area: latest-search;
        display: flex;
        gap: 2rem;
        padding-top: 5px;
        font-size: 0.9em;
        font-weight: 100;
    }
    
    #header-cart {
        grid-area: cart;
        width: 50%;
        height: 50%;
        place-self: center;
    }
    
    /* CHAT */
    
    .chat-container {
        z-index: 5;
        position: fixed;
        top: 100%;
        left: 100%;
        width: 5rem;
        height: 2.2rem;
        border-radius: 3px 3px 0 0;
        border: 0.4px solid var(--color-shadow-light);
        transform: translate(-120%, -100%);
        transition: width 0.3s, height 0.3s 
    }
    
    .chat-container.active {
        width: 400px;
        height: 300px;
        background: var(--color-text-accent);
        color: var(--color-text-main);
        display: grid;
        grid-template-areas:
        "chat-toggle chat-toggle"
        "chat-box chat-contacts"
        "chat-input chat-contacts" ;
        grid-template-columns: 5fr 4fr;
        grid-template-rows: 3rem 1fr 2rem;
    }
    
    .chat-toggle {
        grid-area: chat-toggle;
        background: var(--color-accent-main);
        color: var(--color-text-accent);
        padding: 0.4rem;
        border-radius: 3px 3px 0 0;
        font-size: x-large;
        text-align: center;
    }
    
    .chat-toggle:hover {
        cursor: pointer;
    }
    
    .chat-box {
        grid-area: chat-box;
    }
    
    .chat-input {
        grid-area: chat-input;
        border: none;
        border-top: 0.4px solid var(--color-shadow-light);
        outline: none;
        padding: 2px 0.5rem;
    }
    
    .chat-contacts {
        box-sizing: border-box;
        grid-area: chat-contacts;
        border-left: 0.4px solid var(--color-shadow-light);
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
    
    .chat-contact {
        padding: 0.4rem;
        font-size: small;
        color: var(--color-text-dim);
        transition: background-color 0.3s;
    }
    
    .chat-contact:hover {
        cursor: pointer;
        background: var(--color-shadow-light);
    }
}


#search-bar {
    grid-area: search-bar;
    border-radius: 2px;
    border: none;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.767);
}

#search-bar:focus {
    border: none;
    outline: none;
}




/* ##########  MOBILE  ##########*/


@media screen and (max-width: 900px) {
    header{
        z-index: 1;
        position: absolute;
        top: 0.5rem;
        width: 100%;
        height: 40px;
        background: none;
        transition: position 0.5s;
    }

    .header-container {
        display: flex;
        justify-content: center;
    }

    .header-container>*:not(#search-bar) {
        display: none;
    }
    #search-bar {
        font-size: large;
        flex: 0.8;
    }

    .chat-container {
        position: absolute;
        top: 0;
        left: 50%;
    }

}