svg {
    width: 100%;
    height: 80%;
}

header a {
    color: white;
    text-decoration: none;
}

header {
    height: 70px;
    z-index: 1;
    background: linear-gradient(180deg, rgba(192, 6, 0, 0.87), rgba(255, 111, 27, 0.925));
    display: flex;
    place-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
}

header .header-container {
    height: 100%;
    display: grid;
    gap: 5px;
    grid-template-areas: 
    "header-contact header-contact header-user-profile header-user-profile"
    "logo search-bar search-bar cart"
    "logo latest-search latest-search cart";
    grid-template-columns: 1fr minmax(100px, 35vw) 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    color: white;
    font-size: xx-small;
    font-weight: 300;
    width: 100%;
    max-width: 900px;
}

#header-contact {
    grid-area: header-contact;
    display: flex;
    flex-wrap: wrap;
    gap: 0 10px;
}

#header-user-profile {
    grid-area: header-user-profile;
    display: flex;
    flex-wrap: wrap;
    gap: 0 1rem;
    justify-content: flex-end;
    font-size: x-small;
}

#header-user-profile a:nth-child(n+3) {
    font-weight: 600;
}

#header-logo {
    grid-area: logo;
    display: flex;
    margin-right: 5px;
}

#search-bar {
    grid-area: search-bar;
    border-radius: 2px;
    border: none;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.767);
}

#search-bar:focus {
    border: none;
    outline: none;
}

#header-latest-search {
    grid-area: latest-search;
    display: flex;
    gap: 2rem;
    padding-top: 5px;
    font-size: 0.9em;
    font-weight: 100;
}

#header-cart {
    grid-area: cart;
    width: 50%;
    height: 50%;
    place-self: center;
}